/.buildpath

/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json

/bin
/dev
/lib
/phpserver
/pub
/setup
/update
/.htaccess
/.htaccess.sample
/.php_cs
/.travis.yml
/CHANGELOG.md
/composer.lock
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/index.php
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/README_EE.md


/var
/vendor

deploy.sh
/.DS_Store
dump.rdb
.user.ini
.DS_Store
vagrant-sync.sh
